.img_container {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #ffffff;
  border: 6px solid black;
  border-radius: 20px;
  margin-top: 20px;
  padding: 40px 20px;
  width: 70%;
}

.img_container > p {
  text-align: "center";
  margin-bottom: 0px;
}

img {
  filter: brightness(0.15);
  width: 70%;
  margin: 0px auto;
  height: auto;
  image-rendering: pixelated;
}

.show-pokemon {
  filter: brightness(1);
  animation-name: revealPokemon;
  animation-duration: 4s;
}

@keyframes revealPokemon {
  0% {
    filter: brightness(0.15);
  }
  100% {
    filter: brightness(1);
  }
}
