.img_container {
  margin: auto;
  background-color: #ffffff;
  border: 6px solid black;
  border-radius: 20px;
  margin-top: 20px;
  padding: 40px 20px;
  width: 70%;
  min-height: 350px;
}
img {
  image-rendering: pixelated;
  filter: brightness(0.15);
  width: 90%;
  margin: 0px 10px;
}

.show-pokemon {
  filter: brightness();
  animation-name: revealPokemon;
  animation-duration: 4s;
}

p {
  text-align: "center";
}

@keyframes revealPokemon {
  0% {
    filter: brightness(0.15);
  }
  100% {
    filter: brightness(1);
  }
}
