main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
  margin: auto;
}

.search__container {
  display: flex;
  width: 70%;
  margin: 20px auto;
  justify-content: center;
}

.container {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 60%;
  height: 80%;
  box-sizing: border-box;
  padding: 24px;
}

.podekex__left {
  display: flex;
  flex-direction: column;
  border: 4px solid #000000;
  border-radius: 10px;
  padding-top: 20px;
  box-sizing: border-box;
  width: 49%;
  height: 100%;
  background: rgb(235, 17, 17);
  background: linear-gradient(
    180deg,
    rgba(235, 17, 17, 1) 0%,
    rgba(112, 5, 5, 1) 99%,
    rgba(0, 0, 0, 1) 100%
  );
}

p {
  text-align: center;
  color: #ffffff;
}
